.profile-card {
    padding: 70px;
    min-width: 750px;
    min-height: 200px;
    margin-top: 80px;
    margin-left: 100px;
    border: solid 1px;
}


img {
    height: 200px;
    width: 200px;
    
}

#artist-info-card {
    display: flex;
    flex-wrap: wrap;
    
}

#profile-name {
    margin-top: 10px;
    font-size: 48px;
}

#profile-fan {
    font-size: 18px;
    margin-top: 14px;
}