li {
    width: 100%;
    // margin-bottom: 2.5%;
    white-space: nowrap;
    
}
    

    // h4{
    //     display: inline;
    //     margin: 0px;
    // }

    // #track-title {
    //     width: 100%;
    // }

    #track-duration {
        float: right;
        // width: 100%;
        text-align: right;
    }

    
