li {
    width: 100%;
    // margin-bottom: 2.5%;
    white-space: nowrap;
    
}
    
    #track-duration {
        float: right;
        // width: 100%;
        text-align: right;
    }

    #track-item {
        box-shadow: none;
        border-radius: 0px;
        box-shadow: unset;
        border-bottom: solid 1px #eaeaea ;
    }

 
 
    

    
