#album-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}



#album {
    width: 300px;

}

#album-title {
    margin-left: 150px;
    margin-top: 40px;
}






