#album-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}

// #artist-card{
//     width: 400px;

// }

#album {
    width: 300px;

}

#album-title {
    margin-left: 150px;
    margin-top: 40px;
}

// // #album-card {
// //     margin-left: 10px;
// // }

// h2, h3 {
//     margin-left: 35px;
// }
// h2 {
//     font-size: 1.5rem;
// }




